<div class="panel panel-default">
    <div class="panel-heading">Actividades</div>
    {% if activities %}
        <ul class="list-group">
        {% for activity in activities %}
            <li class="list-group-item activity">
                {% if activity._cls == 'Activity.FriendshipActivity' %}
                    <a href="{{ url_for('get_profile', username=activity.creator.username)}}">
                        <img src=" {{ activity.creator.avatar }}" class="img-circle image avatar-mini" />
                        {{ activity.creator.screen_name }}
                    </a> y
                    <a href="{{ url_for('get_profile', username=activity.target.username)}}">
                        <img src=" {{ activity.target.avatar }}" class="img-circle image avatar-mini" />
                        {{ activity.target.screen_name }}
                    </a>
                    son ahora amigos
                {% elif activity._cls == 'Activity.LikeActivity' %}
                    A <a href="{{ url_for('get_profile', username=activity.creator.username)}}">
                        <img src=" {{ activity.creator.avatar }}" class="img-circle image avatar-mini" />
                        {{ activity.creator.screen_name }}
                    </a> le gusta
                    <a href="{{ url_for('get_local_profile', slug=activity.target.slug)}}">
                        {{ activity.target.name }}
                    </a>
                {% elif activity._cls == 'Activity.DislikeActivity' %}
                    A <a href="{{ url_for('get_profile', username=activity.creator.username)}}">
                        <img src=" {{ activity.creator.avatar }}" class="img-circle image avatar-mini">
                        {{ activity.creator.screen_name }}
                    </a> ya no le gusta
                    <a href="{{ url_for('get_local_profile', slug=activity.target.slug)}}">
                        {{ activity.target.name }}
                    </a>
                {% elif activity._cls == 'Activity.VoteActivity' %}
                    <a href="{{ url_for('get_profile', username=activity.creator.username)}}">
                        <img src=" {{ activity.creator.avatar }}" class="img-circle image avatar-mini">
                        {{ activity.creator.screen_name }}
                    </a> ha puntuado el plato
                    <a href="{{ url_for('get_tasting_profile', slug=activity.target.slug)}}">
                        <img src=" {{ activity.target.avatar }}" class="img-circle image avatar-mini">
                        {{ activity.target.name }}
                    </a> con un {{ activity.points }}
                {% elif activity._cls == 'Activity.CommentActivity' %}
                    <a href="{{ url_for('get_profile', username=activity.creator.username)}}">
                        <img src=" {{ activity.creator.avatar }}" class="img-circle image avatar-mini">
                        {{ activity.creator.screen_name }}
                    </a>
                    {% if activity.target._cls == 'User' %}
                    {% if activity.target != current_user %}
                    ha comentado el perfil de
                    <a href="{{ url_for('get_profile', username=activity.target.username) }}">
                        <img src=" {{ activity.target.avatar }}" class="img-circle image avatar-mini">
                        {{ activity.target.screen_name }}
                    </a>
                    {% else %}
                    ha comentado su perfil
                    {% endif %}
                    {% elif activity.target._cls == 'Tasting' %}
                    ha comentado la degustación
                    <a href="{{ url_for('get_tasting_profile', slug=activity.target.slug) }}">
                        <img src=" {{ activity.target.avatar }}" class="img-circle image avatar-mini">
                        {{ activity.target.name }}
                    </a>
                    {% elif activity.target._cls == 'Local' %}
                    ha comentado el perfil de
                    <a href="{{ url_for('get_local_profile', slug=activity.target.slug) }}">
                        <img src=" {{ activity.target.avatar }}" class="img-circle image avatar-mini">
                        {{ activity.target.name }}
                    </a>
                    {% endif %}
                {% endif %}
                <span class="ago">· Hace {{ activity.created | ago }}</span>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% else %}
    <div class="panel-body">
        No hay actividad reciente
    </div>
    {% endif %}
</div>
