{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-md-3">
    {% if friends %}
    <div class="panel panel-default">
      <div class="panel-heading">Amigos ({{ friends | length }})</div>
      <ul class="list-group">
        {% for friend in friends %}
        <li class="list-group-item">
          <a href="{{ url_for('get_profile', username=friend.get_friend(user).username) }}">
            {{ friend.get_friend(user).username }}
          </a>
        </li>
        {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        No hay actividad reciente
      </div>
    </div>
  </div>
</div>
{% endblock %}