{% extends "layout.html" %}

{% block body %}
<div class="row-fluid">
  <div class="col-md-3">
    <div class="panel panel-default">
    {% if friends %}
      <div class="panel-heading">Amigos · {{ friends | length }}</div>
      <ul class="list-group">
        {% for friend in friends %}
        <li class="list-group-item">
          <a href="{{ url_for('get_profile', username=friend.get_friend(user).username) }}">
            {{ friend.get_friend(user).screen_name }}
          </a>
        </li>
        {% endfor %}
    {% else %}
        <div class="panel-heading">Amigos</div>
        <div class="panel-body">Aún no tienes ningún amigo</div>
    {% endif %}
    </div>
    <div class="panel panel-default">
    {% if tastings %}
      <div class="panel-heading">10 mejores degustaciones</div>
      <ul class="list-group">
        {% for tasting in tastings %}
        <li class="list-group-item">
          <a href="{{ url_for('get_tasting_profile', slug=tasting.slug) }}">
            <img src="{{ tasting.avatar }}" class="img-circle image avatar-mini" />
            {{ tasting.name }} <p class="pull-right {% if tasting.mean_score <= 3.0 %}three-or-less{% elif tasting.mean_score <= 5.0 %}three-to-five{% elif tasting.mean_score <= 7.0 %}five-to-seven{% elif tasting.mean_score < 9.0 %}seven-to-nine{% elif tasting.mean_score <= 10.0 %}nine-or-more{% endif %}">{{ tasting.mean_score }}</p>
          </a>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="panel-heading">10 mejores degustaciones</div>
      <div class="panel-body">Aún no hay ninguna degustación</div>
    {% endif %}
    </div>
  </div>
  <div class="col-md-9">
      {% include 'activities_panel.html' %}
  </div>
</div>
{% endblock %}
