<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>UntapasDevisi</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.2/handlebars.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.2/typeahead.bundle.js"></script>
    <script src="/static/app.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-main" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">UntapasDevisi</a>
        </div>
        {% if user %}
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('get_locals') }}">Nuevo local</a></li>
          <li><a href="{{ url_for('get_tastings') }}"> Nueva degustacion</a></li>
        </ul>


        <div class="col-xs-5">
          <form class="navbar-form" id="search" role="search" method="GET" action="/buscar">
              <div class="input-group search-container" id="search-container">
                  <input id="search-bar" class="form-control" type="text" name="q"
                  data-provide="typeahead" placeholder="Busca personas, degustaciones y locales">
              </div>
          </form>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('get_friend_requests') }}"><i class="glyphicon glyphicon-envelope"></i></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="glyphicon glyphicon-user"></i><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('get_profile', username=user.username) }}">Perfil  público</a></li>
              <li><a href="{{ url_for('get_settings') }}">Editar perfil</a></li>
              <li class="divider"></li>
              <li><a href="{{ url_for('get_logout') }}">Salir</a></li>
            </ul>
          </li>
        </ul>

        {% else %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('get_login') }}">Entrar</a></li>
          <li><a href="{{ url_for('get_register') }}">Registrarse</a></li>
        </ul>
        {% endif %}
      </div>
    </nav>


      {% if user and not user.activated %}
        <div class="alert alert-warning toplevel-alert">
            <div class="container">
                <span class="message">
                    Su cuenta de email aun no ha sido validada. <a href="{{ url_for('get_resend') }}">¿Reenviar email?</a>
                </span>
            </div>
        </div>
      {% endif %}

      {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-{{ category }} toplevel-alert">
          <div class="container">
              <span class="message">{{ message }}</span>
          </div>
      </div>
      {% endfor %}


      <div class="container">
          {% block body %}{% endblock %}
      </div>
  </body>
</html>
