{% extends "layout.html" %}

{% block body %}
<nav class="navbar navbar-default profilebar" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand name-bar" href="">
      <img class="img-thumbnail image avatar" id="chooser" name="chooser" src="{{ local.avatar }}" />
      {{ local.name }}
    </a>
  </div>
  <div class="collapse navbar-collapse">
    {% if not like %}
        <form method="POST" action="{{ url_for('post_local_like', slug=local.slug) }}"
          class="navbar-form navbar-right friendship-button">
          <button type="submit" class="btn btn-default">Me gusta</button>
        </form>
    {% else %}
        <form method="POST" action="{{ url_for('post_local_dislike', slug=local.slug) }}"
          class="navbar-form navbar-right friendship-button">
          <button type="submit" class="btn btn-default">Dejar de gustar</button>
        </form>
    {% endif %}
  </div>
</nav>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Información</div>
      <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-time"></span>  {{ local.created | date }}</li>
        {% if local.location %}
        <li class="list-group-item"><span class="glyphicon glyphicon-map-marker"></span>  {{ local.location }}</li>
        {% endif %}
        {% if local.description %}
        <li class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>  {{ local.description }}</li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    {% include 'comments_panel.html' %}
    {% include 'activities_panel.html' %}
  </div>
</div>

{% endblock %}
