{% extends "layout.html" %}

{% block body %}
<form role="form" method="POST" enctype="multipart/form-data">
  <div class="panel panel-default center">
    <div class="panel-heading">Registrar local</div>
    <div class="panel-body">  
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <input type="file" class="hidden" id="image" name="image" />
              <img class="img-thumbnail image avatar-jumbo" id="chooser" name="chooser" src="" alt="Haz click en el recuedro para elegir una imagen de perfil" />
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group {% if form.name.errors %}has-error has-feedback{% endif %}">
              <input type="text" class="form-control" id="name" name="name" placeholder="Nombre del local" value="{{ form.name.data }}" />
            </div>
            <div class="form-group {% if form.location.errors %}has-error has-feedback{% endif %}">
              <input type="text" class="form-control" id="location" name="location" placeholder="Dirección del local" value="{{ form.location.data }}" />
            </div>
          </div>
        </div>
      <div class="form-group {% if form.description.errors %}has-error has-feedback{% endif %}">
        <textarea class="form-control" id="description" name="description" maxlength="240" placeholder="Breve descripción del local (opcional)" rows="7"></textarea>
      </div>
      {% if form.errors %}
      <div class="form-error">
        <span class="glyphicon glyphicon-remove"></span>
        {% for error, messages in form.errors.iteritems() %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary pull-right">Crear local</button>
      <div class="clearfix"></div>
    </div>
  </div>
</form>

{% endblock %}
