{% extends "layout.html" %}

{% block body %}
 <h1>Entrar</h1>
 <form role="form" method="post">
  <div class="form-group {% if error %}has-error{% endif %}">
    <label for="username">Nombre de usuario</label>
    <input type="username" class="form-control" id="username" name="username" placeholder="Nombre de usuario">
  </div>
  <div class="form-group {% if error %}has-error{% endif %}">
    <label for="password">Contraseña</label>  <a href="{{ url_for('get_forgot_password') }}">¿Olvidastes la contraseña?</a>
    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
  </div>
  <button type="submit" class="btn btn-default">Entrar</button>
</form>
{% endblock %}