{% extends "layout.html" %}

{% block body %}
 <form role="form" method="POST">
  <div class="panel panel-default center">
    <div class="panel-heading">Entrar</div>
    <div class="panel-body">
      <div class="form-group {% if form.username.errors %}has-error has-feedback{% endif %}">
        <input type="text" class="form-control" id="username" name="username" placeholder="Nombre de usuario" value="{{ form.username.data }}">
      </div>
      <div class="form-group {% if form.password.errors %}has-error has-feedback{% endif %}">
        <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
      </div>
      {% if form.errors %}
      <div class="form-error">
        <span class="glyphicon glyphicon-remove"></span>
        {% for error, messages in form.errors.iteritems() %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endfor %}
      </div>
      {% elif error %}
      <div class="form-error">
        <span class="glyphicon glyphicon-remove"></span> Nombre de usuario y/o contraseña incorrecto.
      </div>
      {% endif %}
    </div>
    <div class="panel-footer">
        <a href="{{ url_for('get_forgot_password') }}">¿Has olvidado tu contraseña?</a>
        <button type="submit" class="btn btn-primary pull-right">Entrar</button>
        <div class="clearfix"></div>
    </div>
  </div>
</form>
{% endblock %}
