{% extends "layout.html" %}

{% block body %}
 <h1>Entrar</h1>
 <form role="form" method="POST">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group {% if form.username.errors %}has-error has-feedback{% endif %}">
        <label for="username">Nombre de usuario</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Nombre de usuario" value="{{ form.username.data }}">
        {% if form.username.errors %}
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        {% endif %}
      </div>
      <div class="form-group {% if form.password.errors %}has-error has-feedback{% endif %}">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
        {% if form.password.errors %}
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        {% endif %}
      </div>

      {% if form.errors %}
      <div class="alert alert-danger alert-dismissable">
        Errores:
        {% for error, messages in form.errors.iteritems() %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endfor %}
      </div>
      {% elif error %}
      <div class="alert alert-danger alert-dismissable">
        Errores: Nombre de usuario y/o contraseña incorrecto.
      </div>
      {% endif %}
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-default">Entrar</button>
    </div>
  </div>
</form>
{% endblock %}