{% extends "layout.html" %}

{% block body %}
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="{{ url_for('get_profile', username=visited_user.username) }}">{{ visited_user.username }}</a>
  </div>
  <div class="collapse navbar-collapse">
    {% if user != visited_user and friendship %}
      {% if friendship.confirmed %}
        <form method="POST" action="{{ url_for('post_remove_friend', username=visited_user.username) }}"
          class="navbar-form navbar-right">
          <button type="submit" class="btn btn-default">Eliminar de mis amigos</button>
        </form>
      {% elif friendship.can_confirm(user) %}
      <form method="POST" action="{{ url_for('post_accept_request', id=friendship.id) }}" class="navbar-form navbar-right">
        <button type="submit" class="btn btn-default">Confirmar solicitud</button>
      </form>
      {% else %}
      <form method="POST" class="navbar-form navbar-right">
        <button type="submit" class="btn btn-default disabled">Solicitud enviada</button>
      </form>
      {% endif %}
    {% elif user != visited_user and not friendship %}
    <form method="POST" action="{{ url_for('post_friend_request', username=visited_user.username) }}"
      class="navbar-form navbar-right">
      <button type="submit" class="btn btn-default">Añadir a mis amigos</button>
    </form>
    {% endif %}
  </div>
</nav>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Información</div>
      <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-time"></span> {{ visited_user.created | date }}</li>
        {% if visited_user.location %}
        <li class="list-group-item"><span class="glyphicon glyphicon-map-marker"></span> {{ visited_user.location }}</li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    {% if not activities %}
    <div class="panel panel-default">
      <div class="panel-body">
        No hay actividad reciente
      </div>
    </div>
    {% endif %}
    {% for activity in activities %}
    <div class="panel panel-default">
      {% if activity._cls == 'Activity.FriendshipActivity' %}
      <div class="panel-body">
        <a href="{{ url_for('get_profile', username=activity.creator.username)}}">{{ activity.creator.username }}</a> y
        <a href="{{ url_for('get_profile', username=activity.friend.username)}}">{{ activity.friend.username }}</a>
        son ahora amigos. {{ activity.created | ago }}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}