{% extends "layout.html" %}

{% block body %}
<nav class="navbar navbar-default profilebar" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">{{ tasting.name }}</a>
  </div>
  <div class="collapse navbar-collapse">

  </div>
</nav>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Información</div>
      <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-time"></span>  {{ tasting.created | date }}</li>
        {% if tasting.local_name %}
        <li class="list-group-item"><span class="glyphicon glyphicon-map-marker"></span>
            <a href="{{ url_for('get_local_profile', slug=tasting.local_slug)}}">
                    {{ tasting.local_name }}
            </a>
        </li>
        {% endif %}
        {% if tasting.recipe %}
        <li class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>  {{ tasting.recipe }}</li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">Actividades</div>
        {% if activities %}
        <ul class="list-group">
        {% for activity in activities %}
            <li class="list-group-item activity">
                A <a href="{{ url_for('get_profile', username=activity.creator.username)}}">
                    {{ activity.creator.screen_name }}
                </a> le gusta
                <a href="{{ url_for('get_tasting_profile', slug=activity.target.slug)}}">
                    {{ activity.target.name }}
                </a>
                <span class="ago">· Hace {{ activity.created | ago }}</span>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% else %}
    <div class="panel-body">
        No hay actividad reciente
    </div>
    {% endif %}
    </div>
  </div>
</div>


{% endblock %}