{% extends "layout.html" %}

{% block body %}
<nav class="navbar navbar-default profilebar" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand name-bar" href="">
      <img class="img-thumbnail image avatar" id="chooser" name="chooser" src="{{ tasting.avatar }}" />
      {{ tasting.name }}
    </a>
  </div>
  <div class="collapse navbar-collapse">
    <form method="POST" action="{{ url_for('post_vote', tasting_slug=tasting.slug) }}"
          class="navbar-form navbar-right">
      <input type="text" id="points" name="points" class="hidden" />
      <div id="rating" class="rating-box">
        {% if tasting.user_votes == 0 %}
          0
        {% else %}
          {{ tasting.points / tasting.user_votes }}
        {% endif %}
      </div>
      {% if tasting.user_votes == 0 %}
      <ul onmouseout="javascript:show_score(0)" class="star-rating">
      {% else %}
      <ul onmouseout="javascript:show_score({{ tasting.points / tasting.user_votes }})" class="star-rating">
      {% endif %}

        {% if vote %}
        <li style="width: {{ 8 * vote.points }}px;" id="current-rating" class="current-rating">{{ vote.points }}</li>
        {% else %}
        <li style="width:0px;" id="current-rating" class="current-rating">{{ vote.points }}</li>
        {% endif %}

        <li><a onmouseover="javascript:show_score(1)" class="one-star" title="1 estrella de 10" href="javascript:vote(1)">1</a></li>
        <li><a onmouseover="javascript:show_score(2)" class="two-stars" title="2 estrellas de 10" href="javascript:vote(2)">2</a></li>
        <li><a onmouseover="javascript:show_score(3)" class="three-stars" title="3 estrellas de 10" href="javascript:vote(3)">3</a></li>
        <li><a onmouseover="javascript:show_score(4)" class="four-stars" title="4 estrellas de 10" href="javascript:vote(4)">4</a></li>
        <li><a onmouseover="javascript:show_score(5)" class="five-stars" title="5 estrellas de 10" href="javascript:vote(5)">5</a></li>
        <li><a onmouseover="javascript:show_score(6)" class="six-stars" title="6 estrellas de 10" href="javascript:vote(6)">6</a></li>
        <li><a onmouseover="javascript:show_score(7)" class="seven-stars" title="7 estrellas de 10" href="javascript:vote(7)">7</a></li>
        <li><a onmouseover="javascript:show_score(8)" class="eight-stars" title="8 estrellas de 10" href="javascript:vote(8)">8</a></li>
        <li><a onmouseover="javascript:show_score(9)" class="nine-stars" title="9 estrellas de 10" href="javascript:vote(9)">9</a></li>
        <li><a onmouseover="javascript:show_score(10)" class="ten-stars" title="10 estrellas de 10" href="javascript:vote(10)">10</a></li>
      </ul>
      <button type="submit" id="submit_vote" name="submit_vote" class="hidden"></button>
    </form>
  </div>
</nav>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Información</div>
      <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-time"></span>  {{ tasting.created | date }}</li>
        {% if tasting.local_name %}
        <li class="list-group-item"><span class="glyphicon glyphicon-map-marker"></span>
            <a href="{{ url_for('get_local_profile', slug=tasting.local_slug)}}">
                    {{ tasting.local_name }}
            </a>
        </li>
        {% endif %}
        {% if tasting.recipe %}
        <li class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>  {{ tasting.recipe }}</li>
        {% endif %}
      </ul>
    </div>
    <div class="panel panel-default">
      {% if tasting.photos %}
        <div class="panel-heading">Fotos</div>
        <div style="max-height:170px; text-align:center; overflow-y:scroll;">
        {% for photo in tasting.photos %}
            <img class="img-rounded image avatar" src="{{ photo }}" />
        {% endfor %}
        </div>
      {% else %}
        <div class="panel-heading">Fotos</div>
        <div class="panel-body">Aún no hay ninguna foto</div>
      {% endif %}
      <div class="panel-footer">
        <form role="form" method="POST" enctype="multipart/form-data" action="{{ url_for('post_tasting_photo', slug=tasting.slug) }}">
          <input type="file" id="tasting-photo" name="tasting-photo" class="hidden">
          <button type="button" id="choose-tasting-photo" class="btn btn-primary pull-right">Subir Foto</button>
          <button type="submit" id="submit-tasting-photo" class="hidden"></button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
    <div class="col-md-9">
      {% include 'comments_panel.html'%}
      {% include 'activities_panel.html' %}
    </div>
    </div>
  </div>
</div>


{% endblock %}
