body {
  padding-top: 50px;
  background-color: #e9eaed;
}

a {
    font-size: 12px;
    color: #796986;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #796986;
}

.panel.center {
    max-width: 600px;
    margin: 20px auto;
}

.panel-default {
    border: 1px solid #d3d6db;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 0 1px 0 #d3d6db;
}

.panel-default>.panel-heading {
    font-size: 12px;
    background-color: #f6f7f8;
    color: #6a7480;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.panel-footer {
    background-color: #f6f7f8;
    -webkit-border-radius: 0 0 3px 3px;
    border-top: 1px solid #d3d6db;
}

.panel-footer a {
    line-height: 28px;
}

.btn-primary {
    background-color: #796986;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    line-height: 28px;
    font-size: 14px;
    padding: 0 16px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    border: 1px solid;
    border-radius: 3px;
    border-color: #796986;
}

.btn-primary:hover {
    background-color: #796986;
    border-color: #796986;
}

.btn-default:hover {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

/* Form
-----------------------------------------------------------------------------
*/

.form-group {
    margin-bottom: 0;
}

.form-group + .form-group {
    margin-top: 15px;
}

.form-control {
    border: 1px solid #bdc7d8;
    box-shadow: none;
    border-radius: 0;
}

.form-control:focus {
    border-color: #9d9c9a;
    box-shadow: none;
}

.has-error .form-control:focus {
    box-shadow: none;
}

.form-error {
    margin-top: 5px;
    color: #a94442;
}


/* Navbar
 -----------------------------------------------------------------------------
*/

.navbar-default {
    background-color: #796986;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0 -1px rgba(0, 0, 0, .5);
}

.navbar-default .navbar-brand:hover{
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 -1px rgba(0, 0, 0, .5);
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.navbar-form {
    margin-bottom: 0;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: #796986;
}

.navbar-main {
    margin-bottom: 0;
}

.toplevel-alert {
    margin-bottom: 0;
}

.toplevel-alert .message {
    display:block;
    width:100%;
    text-align: center;
}

/* Profilebar
 -----------------------------------------------------------------------------
*/

.profilebar {
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #f6f7f8;
    border: 1px solid #d3d6db;
    border-radius: 3px;
    box-shadow: 0 1px 0 #d3d6db;
}

.profilebar .navbar-brand, .profilebar .navbar-brand:hover {
    font-size: 23px;
    color: #37404e;
    font-weight: normal;
    text-shadow: none;
}

.profilebar .navbar-brand .slug {
    color: #6a7480;
    font-size: 20px;
    font-weight: normal;
}

/*
-----------------------------------------------------------------------------
*/

.activity a, .friend-request a{
    font-weight: bold;
}

.activity .ago, .friend-request .ago {
    color: #b3b3b3;
}

/* Searchbar
-----------------------------------------------------------------------------
*/

.search-container {
  width: 100%;
}

.search-container .form-control {
  width: 100%;
  vertical-align: center;
  border-radius: 4px!important;
}

.search-container .section-name {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

.twitter-typeahead .tt-hint {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius:4px;
}

.twitter-typeahead .hint-small {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.5;
}

.twitter-typeahead .hint-large {
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.33;
}

.twitter-typeahead {
     width: 100%;
}

.tt-dropdown-menu {
     width: 100%;
}

.tt-hint {
     width: 100%;
}

.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #796986;

}

.tt-suggestion .slug {
    font-size: 14px;
    color: #888;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #796986;
  cursor: pointer;
}

.tt-suggestion.tt-cursor .slug{
  color: #fff;
}
